<div class="mat-app-background background" [ngClass]="{'dark-theme-mode' : isDarkTheme}">
    <div *ngIf="auth.user$ | async as user; else loginNav;">
        <mat-toolbar *ngIf="bp.currentScreenSize == 'XSmall'" color="primary" class="mat-elevation-z14 bottom-toolbar">
                <!-- <button mat-flat-button routerLink="/top-artists" routerLinkActive="active-link">
                <mat-icon class="material-icons color_blue">
                    menu</mat-icon>
                
                </button> -->
                <button mat-flat-button color="primary" routerLink="/">
                    <mat-icon class="material-icons-outlined" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">qr_code_scanner</mat-icon>
                    <span routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Scan</span> <!-- IDK why you need the routerLink on this span but not the others, but without it the active route highlight doesn't cover the text -->
                </button>
                <button mat-flat-button color="primary" routerLink="/people" routerLinkActive="active-link">
                    <mat-icon class="material-icons-outlined">engineering</mat-icon>
                    <span>People</span>
                </button>
                <button mat-flat-button color="primary" routerLink="/my-settings" routerLinkActive="active-link">
                    <mat-icon class="material-icons-outlined">settings</mat-icon>
                    <span>Settings</span>
                </button>
        </mat-toolbar>
        <mat-toolbar color="primary" *ngIf="bp.currentScreenSize != 'XSmall'" class="mat-elevation-z14 top-toolbar">
            <span class="logo" routerLink="/">Asset Protal</span>

            <span class="fill-space"></span>
            <div>
                <a mat-button routerLink="/scanner" class="aligned-with-icon" routerLinkActive="active-link"><mat-icon class="material-icons-outlined">search</mat-icon> Search</a>
                <a mat-button routerLink="/items" class="aligned-with-icon" routerLinkActive="active-link"><mat-icon class="material-icons-outlined">category</mat-icon> Items</a>
                <a mat-button routerLink="/g" class="aligned-with-icon" routerLinkActive="active-link"><mat-icon class="material-icons-outlined">inventory_2</mat-icon> Groups</a>
                <a mat-button routerLink="/my-settings" class="aligned-with-icon" routerLinkActive="active-link"><mat-icon class="material-icons-outlined">manage_accounts</mat-icon> Settings</a>
            </div>
        </mat-toolbar>
    </div>

    <ng-template #loginNav>
        <mat-toolbar *ngIf="bp.currentScreenSize == 'XSmall'" color="primary" class="mat-elevation-z14 bottom-toolbar">
            <!-- <button mat-flat-button routerLink="/top-artists" routerLinkActive="active-link">
            <mat-icon class="material-icons color_blue">
                menu</mat-icon>
            
            </button> -->

            <span style="flex:auto"></span>
            <button mat-raised-button color="accent" (click)="auth.login()"><mat-icon svgIcon="google_G"></mat-icon> Sign In With Google</button>
        </mat-toolbar>
        <mat-toolbar color="primary" *ngIf="bp.currentScreenSize != 'XSmall'" class="mat-elevation-z14 top-toolbar">
            <span class="logo" routerLink="/">Asset Protal</span>

            <span class="fill-space"></span>
            <div>
                <button mat-raised-button color="accent" (click)="auth.login()"><mat-icon svgIcon="google_G"></mat-icon> Sign In With Google</button>
            </div>
        </mat-toolbar>
    </ng-template>

    <div [ngClass]="bp.currentScreenSize == 'XSmall' ? 'content-container-small' : 'content-container'">
        <ng-content></ng-content>
    

        <!-- Empty space below content on small screens so stuff isn't hidden behind bottom nav -->
        <div *ngIf="bp.currentScreenSize == 'XSmall'" class="clear"></div>
    </div>
</div>