.people-table-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border-radius: 10px;
}

table {
    width: 100%;
    //height: 100%; Don't actually want this because it stretches search rows to 100%
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}

.mat-table-sticky-border-elem-right {
    padding-right: 0 !important;
}

.actions-card-container {
    height: 100%;
    border-radius: 10px;
}

.actions-card {
    height: 100%;
    border-radius: 10px;
}
mat-form-field {
    width: calc(100% - 30px);
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.search-bar {
    width: calc(100% - 150px);
    display: inline-block;
    padding-right: 15px;
}
.add-user {
    display: inline-block;
}