<table mat-table [dataSource]="scansData" matSort matSortActive="timeScanned" matSortDirection="desc" class="mat-elevation-z6">

    <ng-container matColumnDef="scanResult">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Result </th>
        <td mat-cell *matCellDef="let scan"> {{scan.scanResult}} </td>
    </ng-container>

    <ng-container matColumnDef="personName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let scan"> {{scan.personName}} </td>
    </ng-container>

    <ng-container matColumnDef="timeScanned">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
        <td mat-cell *matCellDef="let scan"> {{scan.timeScanned.toDate() | date:'yyyy-MM-dd HH:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="scanResultDesc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Other Info </th>
        <td mat-cell *matCellDef="let scan"> {{scan.scanResultDesc}} </td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let scan">
            <button mat-icon-button routerLink="p/S590/{{scan.personId}}">
                <mat-icon>more_vert</mat-icon>
            </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let scan"
    [ngClass]="{
        'is-error': scan.scanResult == 'No Access',
        'is-success': scan.scanResult == 'Allowed',
        'is-info': scan.scanResult == 'See Description',
        'is-warning': scan.scanResult == 'Escort Required'
      }"></tr>  <!--TODO add dynamic row color to row based on status... this should work: https://newbedev.com/angular-material-table-apply-dynamically-background-color-to-a-row-angular-2#:~:text=%5Bngstyle%5D%20on%20every%20td -->
</table>
 