.is-error {
    background: #d9534f;
}

.is-success {
    background: #5cb85c;
}

.is-info {
    background: #5bc0de;
}

.is-warning {
    background: #f0ad4e;
}
.mat-table-sticky-border-elem-right {
    padding-right: 0 !important;
}

table {
    width: 100%;

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}