<mat-card id="user-data-card">
    <mat-card-title>User Data</mat-card-title>
    <div *ngIf="auth.user$ | async as user; else login">
        <pre>
            {{ user | json }}
        </pre>
        <hr>
        <button mat-raised-button (click)="auth.signOut()" color="accent">Sign Out</button>
        <span style="padding-left: 8px;"></span>
        <a href="https://myaccount.google.com/">
            <button mat-raised-button color="primary">Edit on Google.com</button>
        </a>
    </div>
  
    <ng-template #login>
        <button mat-raised-button (click)="auth.googleSignin()" color="accent">Login With Google</button>
    </ng-template>
</mat-card>