// #user-data-card{
//     margin: 15px;
// }

#user-data-card {
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 22px;
}
mat-card-actions {
    padding-left: 8px;
    padding-bottom: 50px;
}

mat-form-field {
    width: 100%;
}

#custom-profile-settings-card {
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    // will-change: transform;
    // -webkit-mask-image: -webkit-radial-gradient(white, black); //This breaks the shadow elevation

}
