<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      [ngClass]="{hidden: !(isHandset$ | async)}"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar routerLink="/" queryParamsHandling="merge">Westland Access</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/scanner" queryParamsHandling="merge" (click)="drawer.toggle()">Scanner</a>
      <a mat-list-item routerLink="/project" queryParamsHandling="merge" (click)="drawer.toggle()">Project</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z7">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span routerLink="/" queryParamsHandling="merge">WPA</span>



      <div class="project-select-container">
        <form [formGroup]="projectForm">
          <mat-form-field class="project-form" appearance="fill">
            <mat-label>Project</mat-label>
            <mat-select disableOptionCentering formControlName="projectDrop">
              <mat-option *ngFor="let project of projectsList$" [value]="project.id">
                {{project.id}} - {{project.projectName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>








      <span class="nav-spacer"></span>
      <span [ngClass]="{hidden: (isHandset$ | async)}">
        <a routerLink="/scanner" queryParamsHandling="merge">Scanner</a>
        <a routerLink="/project" queryParamsHandling="merge">Project</a>
      </span>
      <a *ngIf="auth.user$ | async as user; else login"><mat-icon routerLink="/user" queryParamsHandling="merge">manage_accounts</mat-icon></a>
      <ng-template #login>
        <button mat-raised-button (click)="auth.googleSignin()" color="accent">Login With Google</button>
      </ng-template>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="content">
      <ng-content [ngContentOutlet]="projectNumber"></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>