.badge-container {
    width: 300px;
    height: 480px;
    border: solid black 1px;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../../../assets/temple.jpg) no-repeat center;
    background-size: cover;
    border-radius: 20px;
    -webkit-print-color-adjust: exact;
    margin: -8px;
    
}

.badge-content-container {
    margin: 8px;
    border: solid red 1px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;
}
.punch-oval {
    text-align: center;
    width: 70px;
    height: 15px;
    border: solid black 1px;
    border-radius: 7.5px;
    margin-top: 20px;
    margin-left: 115px;
}

.qr-code-div {
    padding-top: 75px;
    width: 100%;
}


.id-info p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin: 10px;
    text-align: center;
}

.id-left-column {
    flex: 55%;
}

.id-right-column {
    flex: 45%;
}

.id-right-column p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xxx-large;
    color: red;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

.id-right-column img.profilePic-class{
    width: 105px;
    height: 140px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.id-right-column img.Westland_Logo-class{
    width: 100%;
}
.column-container {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;

}