.badge-container {
    width: 300px;
    height: 480px;
    border: solid black 1px;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../../../assets/temple.jpg) no-repeat center;
    background-size: cover;
    border-radius: 20px;
    -webkit-print-color-adjust: exact;
    //margin: -8px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    text-align: center;
    padding-top: 25px;
}
.punch-oval {
    text-align: center;
    width: 70px;
    height: 15px;
    border: solid black 1px;
    border-radius: 7.5px;
    margin-top: 25px;
    margin-left: 115px;
}
// .qr-code {
//     width: 150px;
//     height: 150px;
//     overflow: hidden;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden;
// }
// .qr-code img {
//     min-width: 100%;
//     min-height: 100%;
// }