<div class="badge-container">
    <div class="badge-content-container">

        <div class="punch-oval"></div>
        <div class="title">
            St. George Temple Major Renovation
        </div>

        <div class="id-info">
            <p>{{name}}</p>
            <p>{{company}}</p>
            <p>{{trade}}</p>
        </div>
        <div class="column-container">
            <div class="id-left-column">
                <div class="qr-code-div">
                    <ngx-qrcode 
                        [elementType]="elementType" 
                        [errorCorrectionLevel]="errorLevel"
                        [value]="codeValue"
                        cssClass="qr-code"
                        [margin]="2"
                        [width]="150"
                        >
                    </ngx-qrcode>
                </div>
            </div>
            <div class="id-right-column">
                <img [src]="profilePic" class="profilePic-class">
                <p>{{idNumber}}</p>
                <img src="../../../assets/Westland_Logo.png" class="Westland_Logo-class">
            </div>
        </div>
    </div>
</div>